body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    /* padding: 20px; */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.bourse-details {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.bourse-details h2 {
    color: #333;
}

.details-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}

.description-column {
    flex: 1;
    padding-right: 20px;
}

.info-column {
    flex: 1;
    padding-left: 20px;
}

.return-btn-container {
    text-align: right; /* Aligne le bouton à droite */
    margin-bottom: 10px; /* Espacement en bas */
}

.return-btn {
    display: inline-block;
    padding: 10px 20px;
    background: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-secondary {
    background: #6c757d;
}

.bourse-details p {
    margin: 10px 0;
}
