footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0; 
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between; /* Changez space-around à space-between */
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto; /* Centre le footer si la largeur maximale est utilisée */
    padding: 0 20px; /* Espacement latéral */
}

.footer-section {
    flex: 1;
    min-width: 200px;
    text-align: center;
    margin-bottom: 20px; /* Ajoute de l'espace entre les sections */
}

.footer-section h3 {
    color: #fff;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section li {
    margin: 10px 0;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9em; /* Taille de police légèrement plus petite */
}

/* Styles supplémentaires */
.footer-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.footer-link:hover {
    color: #00ff7f; /* Couleur au survol */
}

.footer-icon {
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Alignement vertical des icônes */
    margin-right: 8px; /* Espacement entre l'icône et le texte */
}
